@charset "UTF-8";

/*
 Em HTML é id = em CSS é #
 Em HTML é class = em CSS é .
*/

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;
}

h1#principal {
    text-align: centeR;
    background-color: #3c805e;
    color: white
}
/* Pode ser sem o h1, porém fica mais organizado da forma organizada.
#principal {
    text-align: center;
}
*/
h2 {
    color: #3c805e;
}

.basico {
    color: #0b35c0c5;
}

.intermediario {
    color: #80793c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070;    
}